<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google font link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

  <!-- Fontawesome link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap Link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- CSS link -->
  <link rel="stylesheet" href="./assets/css/style.css">

  <title>vue-boolzapp</title>
</head>

<body>

  <!-- App -->

  <div id="app">
    <div class="container mt-4 p-0">
      <div class="row h-100 g-0">

        <!-- Left side -->
        <div class="col-4 hide_sm">
          <div class="left_side h-100">

            <!-- Profile -->
            <div class="profile d-flex justify-content-between">
              <div class="profile_pic d-flex">
                <img src="./assets/img/avatar_io.jpg" alt="">
                <span>Sofia</span>
              </div>
              <ul class="icon_group hide_md d-flex align-items-center m-0">
                <li><a href="#"><i class="fa-solid fa-lg fa-circle-notch"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-lg fa-message"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-lg fa-ellipsis-vertical"></a></i></li>
              </ul>
            </div>

            <!-- Notifications -->
            <div class="notifications d-flex hide_md">
              <div class="notification_icon d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-lg fa-bell-slash"></i>
              </div>
              <div class="toggle_notifications text_overflow">
                <div class="text_overflow">Ricevi notifiche di nuovi messaggi</div>
                <div><a href="#">Attiva notifiche desktop</a></div>
              </div>
            </div>

            <!-- Search bar -->
            <div class="search hide_md d-flex align-items-center px-4">
              <div class="search_bar rounded d-flex align-items-center">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Cerca o inizia una nuova chat" v-model="searchBarInput">
              </div>
            </div>

            <!-- Contacts -->
            <div class="contacts text_overflow">

              <div class="contact d-flex" v-for="(contact, index) in searchContact()" @click="activeContact = index">
                <div class="profile_pic d-flex">
                  <img :src="contact.avatar" alt="">
                </div>
                <div class="text_overflow hide_md d-flex flex-column justify-content-center">
                  <div class="contact_name">{{contact.name}}</div>
                  <div class="last_message text_overflow" v-if="contact.messages.length > 0">
                    {{contact.messages.at(-1).message}}</div>
                  <div class="time" v-if="contact.messages.length > 0">
                    {{contact.messages.at(-1).time}}</div>
                </div>
              </div>

            </div>
          </div>
        </div>


        <!-- Right side -->
        <div class="col-8">
          <div class="right_side h-100">

            <!-- Active contact -->
            <div class="active_contact d-flex justify-content-between align-items-center">
              <div class="profile_pic d-flex align-items-center">
                <img :src="searchContact()[activeContact].avatar" alt="">
                <div class="text_overflow">
                  <div class="contact_name">{{searchContact()[activeContact].name}}</div>
                  <div class="last_access text_overflow" v-if="searchContact()[activeContact].messages.length > 0">
                    Ultimo accesso il
                    {{searchContact()[activeContact].messages.at(-1).date.split(' ')[0]}} alle
                    {{searchContact()[activeContact].messages.at(-1).time}}
                  </div>
                </div>
              </div>
              <ul class="icon_group hide_sm d-flex align-items-center m-0">
                <li><a href="#"><i class="fa-solid fa-lg fa-magnifying-glass"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-lg fa-paperclip"></i></i></a></li>
                <li><a href="#"><i class="fa-solid fa-lg fa-ellipsis-vertical"></a></i></li>
              </ul>
            </div>

            <!-- Chat -->
            <div class="chat d-flex flex-column align-items-start">

              <div class=" d-flex flex-column justify-content-center align-items-end"
                v-for="(message, index) in searchContact()[activeContact].messages" :class="message.status">
                <div class="d-flex" v-if="searchContact()[activeContact].messages.length > 0">

                  <!-- Message -->
                  <div class="message ps-2 pt-2">
                    {{message.message}} </div>


                  <!--  <div class="msg_menu d-flex flex-column justify-content-center align-self-start">
                    <i class="msg_options_icon fa-solid fa-chevron-down"></i>
                    <div class="msg_actions hide">


                      <div class="reactions">
                        <ul class="d-flex">
                          <li class="d-flex"><a href="#">👍</a></li>
                          <li class="d-flex"><a href="#">❤️</a></li>
                          <li class="d-flex"><a href="#">😂</a></li>
                          <li class="d-flex"><a href="#">😯</a></li>
                          <li class="d-flex"><a href="#">😢</a></li>
                        </ul>
                      </div>
                      <hr>


                      <div class="reply">
                        <a href="#"><i class="fa-solid fa-reply"></i>
                          Rispondi</a>
                      </div>
                      <div class="copy">
                        <a href="#"><i class="fa-solid fa-copy"></i>
                          Copia</a>
                      </div>
                      <hr>


                      <div class="forward">
                        <a href="#"><i class="fa-solid fa-share"></i>
                          Inoltra</a>
                      </div>
                      <div class="important">
                        <a href="#"> <i class="fa-regular fa-star"></i>
                          Importante</a>
                      </div>
                      <div class="delete">
                        <a href="#"> <i class="fa-regular fa-trash-can"></i>
                          Elimina</a>
                      </div>
                      <hr>


                      <div class="select">
                        <a href="#"><i class="fa-regular fa-square-check"></i>
                          Seleziona</a>
                      </div>

                    </div>
                  </div> -->

                  <div class="dropdown">
                    <button class="btn backgroud-transparent" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <i class="msg_options_icon fa-solid fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <ul class="d-flex justify-content-between p-1">
                          <li><a class="dropdown-item p-1" href="#">👍</a></li>
                          <li><a class="dropdown-item p-1" href="#">❤️</a></li>
                          <li><a class="dropdown-item p-1" href="#">😂</a></li>
                          <li><a class="dropdown-item p-1" href="#">😯</a></li>
                          <li><a class="dropdown-item p-1" href="#">😢</a></li>
                        </ul>
                      </li>
                      <hr class="my-1 m-auto">
                      <li><a class="dropdown-item" href="#">Message info</a></li>
                      <li><a class="dropdown-item" href="#" @click="deleteMessage(index, activeContact)">Delete
                          message</a>
                      </li>
                    </ul>
                  </div>
                </div>


                <div class="time justify-content-center align-items-end">
                  {{message.time}}
                </div>

              </div>
            </div>

            <!-- Input message -->
            <div class="input_message d-flex">
              <a href="#"><i class="hide_sm fa-regular fa-xl fa-face-smile"></i></a>
              <input type="text" placeholder="Scrivi un messaggio" v-model.trim="newMessage.message"
                @keydown.enter="addMessage(activeContact)" @keyup.enter="replyMessage(activeContact)">
              <a href="#"><i class="hide_sm fa-solid fa-xl fa-microphone"></i></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Vue JS Link -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Luxon JS Link -->
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>

  <!-- Bootstrap JS Link -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- JS link -->
  <script src="./assets/js/main.js"></script>
</body>

</html>